.titlebar {
    -webkit-user-select: none;
    height: 40px;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.app-draggable {
  -webkit-app-region: drag;
}

.login-background {
  background: url('assets/img/cctvlog.png') no-repeat;
  background-size: contain;
}

.zmgroups {
  width: 75%;
  margin: 10px 5px 5px 20px;

}

.row-separator {
  height: 5px;
}

.row-separator-big {
  height: 15px;
}

.col-separator {
  width: 2px;
}

.box {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  height: 95%;
  border: 1px dotted red;
  overflow-y: hidden !important;
}

.box .row {
  border: 1px dotted gray;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 0 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.box .subreel {
  flex: 0 1 130px;
  justify-content: center;
}

.box .mainreel {
  flex: 1 0 auto;
  justify-content: center;
  min-height: 600px;
  margin: auto;
}

.mainspacer {
  margin-left: 20px;
}

.objspacer {
  margin-left: 5px;
}

.mymenu {
  width: 14em;
}

.opttitle {
  margin-top: 10px;
}

.rowbottom{
  align-self: flex-end;
}

.video-sub {
  width: auto;
  height: 100px;
  margin: 10px;
}

.video-main {
  width: auto;
  height: inherit;
  margin: 10px;
}
